<div id="contact" class="contact">

    <h2><span class="title">
            Contact
        </span></h2>
    <div class="contact-container">
        <p>
            Hello again, If you want to build incredible things or want to contact me with any suggestions or questions
            you can send me an email, or an internal message on my social networks.
        </p>
        <a href="mailto:nguetchaalex@gmail.com">
            <button><i class="fa fa-envelope" aria-hidden="true"></i> Contact Me</button>
        </a>
    </div>

</div>