.contact {
    margin: 5%;
  
    h2 {
      width: 90%;
      text-align: center;
      border-bottom: 1px solid var(--textColor);
      line-height: 0.1em;
      margin: 10px 0 20px;
      margin-left: 5%;
      margin-top: 5%;
    }
  
    .title {
      background: #fff;
      padding: 0 10px;
    }
  
    p {
      display: block;
      margin: 3%;
      margin-left: 18%;
      width: 66%;
      text-align: justify;
      word-spacing: .1em;
      color: var(--textColorSecondary);
      word-wrap: break-word;
    }
    button{
        margin: auto;
        align-self: center;
        width: 40%;
        margin-left: 28%;
        height: 45px;
    }
  
  
  }

  @media only screen and (max-width:600px) {
    .contact{
      margin: none;
      p{
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
  