<div id="about" class="about">
    <h2><span class="title">
        About
    </span></h2>
    <div class="about-container">
        <div class="left-part">
            <img src="../../../assets/alexnguetcha.png" alt="Alex Nguetcha">
        </div>
        <div class="right-part">
            <p>
                I am full stack developer with experience building digital products with different technologies. Currently my Stack of technologies has a JavaScript as main language, I like to develop solutions that meet high quality metrics in terms of performance, accessibility and good practices. I am looking for job opportunities to grow professionally with an innovation team to provide solutions to different problems.
            </p>
        </div>
    </div>
</div>