<div class="home" id="home">
    <div class="home-container">
        <div class="left-part">
            <p><span class="hi">Hi, my name is</span><br><br>
                <span class="name">Alex Nguetcha</span><br>
                <span class="dev">Full Stack Developer</span>
            </p>
            <button> <a href=""><i class="fa fa-download" aria-hidden="true"></i> Download resume</a></button>
        </div>
        <div class="right-part">
            <img src="./assets/hero.svg" alt="">
        </div>
    </div>
</div>