.home{
    min-height: 85vh;
    margin-top: 7%;
    background-color: rgba($color: #000000, $alpha: .6);
    .home-container{
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 3%;

        .left-part{
            width: 50%;
            display: flex;
            flex-direction: column;

            .hi{
                font-weight: bold;
                color: var(--colorAccent);
            }

            .name{
                font-size: 45px;
                font-weight: bold; 
            }

            .dev{
                color: var(--blue);
                font-size: 30px;
                font-weight: bold;
            }
            p{
                margin: auto;
                margin-left: 10px;
                margin-bottom: 10px;
            }

            button{
                height: 50px;
                color: white;
                border-radius: 40px;
                margin: auto;
                margin-bottom: 5%;
                margin-left: 5px;
                width: 70%;
                a{
                    color: white;
                }
            }
        }

        .right-part{
            display: flex;
            

            img{
                width: 90%;
                margin: auto;
                margin-top: 10px;
                margin-right: 2px;
            }
            
        }
    }
}

@media only screen and (max-width:600px) {
    .home{
        .home-container{
            flex-direction: column;

            .left-part{
                margin-top: 40px;
                p{
                    .name{
                        font-size: 30px;
                    }
                    .dev{
                        font-size: 20px;
                    }

                }
                button{
                    margin-top: 30px;
                    width: 100%;
                }
            }
            .right-part{
                margin-top: 30px;
            }
        }
    }
}