<div class="skills" id="skills">

    <h2><span class="title">

            Skills
        </span></h2>
    <p>
        In my free time, i was able to train in different technologies, some of them are :
    </p>
    <div class="skills-container">
        <div class="left-part">

            <div class="item" *ngFor="let hat of hats" id="{{hat.name}}" (click)="active(hat)">
                <i class="{{hat.icon}}"></i>
                &nbsp; &nbsp; {{hat.name}}
            </div>
            
        </div>

        <div class="right-part" *ngIf="activeHat">
            <div class="right-part-container">
                <div class="card" *ngFor="let techno of activeHat.technos">
                    <img src="../../../assets/logos/{{techno|lowercase|trim}}.svg" alt="">
                    <span>{{techno}}</span>
                </div>
            </div>
        </div>
    </div>
</div>